version: '3.8'

volumes:
  postgres_data:

services:

  web:
    restart: unless-stopped
    build: ./src/web
    container_name: rds_web
    ports:
      - 80:8080
      - 443:8443
    depends_on:
      - rds_api
    environment:
      - SERVER_NAME=${HOST:-localhost}
      - REDIRECT_HTTP_TO_HTTPS=no
      - AUTO_LETS_ENCRYPT=no
      - USE_CLIENT_CACHE=yes
      - USE_GZIP=yes
      - USE_REVERSE_PROXY=yes
      - REVERSE_PROXY_URL_1=/api
      - REVERSE_PROXY_HOST_1=http://rds_api:5000/


  api:
    restart: unless-stopped
    container_name: rds_api
    build: ./src/api
    ports:
      - 5000:5000
    volumes:
      - ./src/api:/app
    command: uvicorn src.main:app --reload --host 0.0.0.0 --port 5000

  db:
    restart: unless-stopped
    container_name: rds_db
    image: postgres:13
    expose:
      - 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=rds
      - POSTGRES_USER=rds
      - POSTGRES_PASSWORD=${DB_PASS:-easy_dev_pass}

  